.content{
    background-color: #F6F6F6;
    position:relative;
    height: 2812px;
}
.banxin{
    width: 1188px;
    margin:0 auto;
    background-color: aliceblue;
    position: relative;
}
.brand{
    position:relative;
}
.brand li{
    height: 35px;
    width: 105px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    position: relative;
    top: 30px;
    cursor: pointer;
}
.change{
    border-bottom-left-radius: 17px 17px;
    border-top-left-radius: 17px 17px;
    border-bottom-right-radius: 17px 17px;
    border-top-right-radius: 17px 17px;
    background-color: #FF5D5D;
    height: 35px;
    width: 105px;
    position: absolute;
    top:30px;
    left:0;
}
.brand li:hover{
    color:#FF5D5D;
}
.brand li:visited{
    background-color: red;
    color:#fff;
}
.line1{
    position:absolute;
    top:134px;
}
.ab {
    display: inline-block;
    width: 338px;
    height: 206px;
    background-color: #fff;
    border-radius: 4px;
    padding: 21px 16px;
    margin-right: 24px;
}
.ab .pic{
    height: 206px;
    width: 338px;
    overflow: hidden;
    position:relative;
    cursor: pointer;
}
.ab .search {
    position: absolute;
    top: 64px;
    left: 124px;
    height: 96px;
    width: 96px;
    opacity:0;
    background:url("../images/case-bg.png");
}
.ab .search img{
    opacity: 0;
    position: absolute;
    top:30px;
    left:32px;
}
.ab .shadow{
    position: relative;

}
.ab .shadow img{
    position: absolute;
    width: 386px;
    height: 19px;
    bottom: -39px;
    left: 50%;
    margin-left: -193px;
    vertical-align: middle;
    opacity: 0;
}
.line2{
    position: absolute;
    top: 434px;
}
.line3{
    position: absolute;
    top:734px;
}
.line4{
    position: absolute;
    top:1034px;
}
.line5{
    position: absolute;
    top:1334px;
}
.line6{
    position: absolute;
    top:1634px;
}
.line7{
    position: absolute;
    top:1934px;
}
.line8{
    position: absolute;
    top:2234px;
}
.line9{
    position: absolute;
    top:2534px;
}
.abs-mobile{
    display: none;
}
.abs-website{
    display: none;
}
.abs-logo{
    display: none;
}
.abs-flat{
    display: none;
}
